.banner {
  display: flex;
  align-items: center;
  overflow: hidden;

  min-height: calc(100vh - 200px);

  color: var(--white);

  @media (max-width: @desktop-width) {
    min-height: 0;
  }

  @media (max-width: @desktop-width-sm) {
    position: relative;
  }

  &::after {
    content: "";

    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;

    width: 675px;
    height: 100%;

    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);

    @media (max-width: @desktop-width) {
      top: 90px;
    }

    @media (max-width: @desktop-width-sm) {
      content: none;
    }
  }

  &__parallax {
    position: absolute;
    bottom: 0;
    height: calc(100vh + 20px);
    overflow: hidden;

    @media (max-width: @desktop-width) {
      height: calc(595px + 200px);
    }

    .parallax__img {
      height: calc(100vh + 80px);
    }

    &::after {
      content: "";
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100vh;
      height: calc(100vh + 40px);
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  &__container {
    position: relative;
    z-index: 1;

    padding-top: 50px;
    padding-bottom: 50px;

    @media (max-width: @desktop-width-sm) {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    @media (max-width: @tablet-width-sm) {
      padding-top: 90px;
      padding-bottom: 40px;
    }
  }

  &__heading {
    margin: 0;

    font-weight: 700;
    font-size: 12px;
    line-height: 117%;

    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
  }

  &__name {
    position: relative;

    font-family: var(--banny);
    font-size: 96px;
    line-height: 120%;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 30px 0;

    @media (max-width: @desktop-width-sm) {
      font-size: 80px;
    }

    @media (max-width: @tablet-width) {
      font-size: 70px;
    }

    @media (max-width: @tablet-width-sm) {
      font-size: 40px;
    }

    &::after {
      content: "";
      margin: 20px 0;
      width: 60px;
      height: 5px;
      border-radius: 50px;
      background-color: var(--accent);
    }
  }

  &__buttons {
    margin: 0 auto;
    width: 440px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    @media (max-width: @tablet-width-sm) {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
      width: auto;
    }
  }

  &__down-button {
    position: relative;

    margin: 80px auto;

    @media (max-width: @desktop-width-sm) {
      margin: 50px auto 0;
    }
  }

  &__socials {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: @tablet-width) {
      position: static;

      transform: none;

      .socials__list {
        margin: 40px 0 0;
        display: flex;
        justify-content: center;
      }
    }
  }

  &__schedule {
    position: absolute;
    left: 24px;
    top: 50%;
    transform: scale(-1) translateY(50%);

    writing-mode: vertical-lr;

    @media (max-width: @tablet-width) {
      margin: 20px 0 0;

      position: static;

      writing-mode: unset;

      transform: none;
    }
  }
}
