body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;

  &.preload * {
    /* stylelint-disable-next-line declaration-no-important */
    transition: all 0s linear !important;
  }

  --white: #ffffff;
  --accent: #e8c300;

  --banny: "Banny", "Open Sans", "Arial", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
