.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .container {
    padding: 0 24px;
    max-width: calc(@tablet-width + 40px);
  }
}

@media (min-width: @desktop-width-sm) {
  .container {
    max-width: calc(@desktop-width-sm + 40px);
  }
}

@media (min-width: @desktop-width) {
  .container {
    max-width: 1335px;
  }
}
